@model OnlineECommerceApp.Models.DynamicBills

@{
    ViewBag.Title = "DynamicBills";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<br />
<br />

<div class="panel panel-default">

    <div class="panel-heading">

        <div class="row">

            <h2 class="panel-title pull-left" style="margin-left:10px;">

                <strong>Bill & BillPencils Transactions</strong>

            </h2>

            <button style="margin-right:10px" class="btn btn-primary pull-right" onclick="addNewOrder()">Enter Bill</button>

        </div>

    </div>



    @*Receive All Database Data From Controller And Display Those Data In Client Side*@



    @if (Model.value1.Count() != 0)

    {

        foreach (var item in Model.value1)

        {

            <div class="panel-body">

                <table class="table table-striped table-responsive">

                    <tbody>

                        <tr>

                            <td>Serial-RankNo : @item.BillSerialNo @item.BillRankNo </td>

                            <td>Delivery Person : @item.DeliverPerson </td>

                            <td>Date : @item.Date </td>

                            <td>TaxAuthority : @item.TaxAuthority</td>

                        </tr>

                        <tr>

                            <td colspan="4">

                                <table class="table table-bordered">

                                    <tbody>

                                        <tr>

                                            <th>Description</th>

                                            <th>Amount</th>

                                            <th>Unit Price</th>

                                            <th>Total</th>


                                        </tr>

                                        @{

                                            var totalBill = 0;

                                        }

                                        @foreach (var order in item.BillPencils)

                                        {

                                            <tr>

                                                <td>@order.Description</td>

                                                <td>@order.Amount</td>

                                                <td>@order.UnitPrice</td>

                                                <td>@order.TotalPrice</td>



                                            </tr>

                                            totalBill = totalBill + @Convert.ToInt32(order.TotalPrice);

                                        }

                                    </tbody>

                                </table>

                                <span class="pull-right" style="margin-right:100px;"><strong>Total Bill :  </strong> @totalBill</span>

                            </td>

                        </tr>

                    </tbody>

                </table>

            </div>

        }

    }

    else

    {

        <div class="panel-body">

            <h3 style="color:red;">Empty!</h3>

        </div>



    }

</div>
<div class="modal fade" id="newOrderModal">

    <div class="modal-dialog modal-lg" style=" width: 900px !important;">

        <div class="modal-content">

            <div class="modal-header">

                <a href="#" class="close" data-dismiss="modal">&times;</a>

                <h4>New Enter Bill</h4>

            </div>

            <form id="NewOrderForm">

                <div class="modal-body">

                    @*Customer Details*@

                    <h5 style="color:#ff6347">Bill Details</h5>

                    <hr />
                    <form class="form-group" method="post">


                        <div class="form-horizontal">

                            <div class="form-group">

                                <label class="control-label col-md-2">

                                    Serial No

                                </label>

                                <div class="col-md-4">

                                    <input type="text" id="BillSerialNo" name="BillSeriallNo" placeholder="Serial No" class="form-control" />

                                </div>

                                <label class="control-label col-md-2">

                                    Rank No

                                </label>

                                <div class="col-md-4">

                                    <input type="text" id="BillRankNo" name="BillRankNo" placeholder="Rank No" class="form-control" />

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">

                                    Date

                                </label>

                                <div class="col-md-4">

                                    <input type="text" id="Date" name="Date" value="@ViewBag.date" placeholder="Date" class="form-control" />

                                </div>
                                <label class="control-label col-md-2">

                                    TaxAuthority

                                </label>

                                <div class="col-md-4">

                                    <input type="text" id="TaxAuthority" name="TaxAuthority" placeholder="TaxAuthority" class="form-control" />

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">

                                    Time

                                </label>

                                <div class="col-md-4">

                                    <input type="text" id="Time" name="Time" placeholder="Time" class="form-control" />

                                </div>
                                <label class="control-label col-md-2">

                                    Delivery Person

                                </label>

                                <div class="col-md-4">

                                    <input type="text" id="Deliver Person" name="Deliver Person" placeholder="Deliver Person" class="form-control" />

                                </div>

                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">

                                    Received Person

                                </label>

                                <div class="col-md-4">

                                    <input type="text" id="ReceivedPerson" name="ReceivedPerson" placeholder="ReceivedPerson" class="form-control" />

                                </div>
                                <label class="control-label col-md-2">

                                    Total Price

                                </label>

                                <div class="col-md-4">

                                    <input type="text" id="SubTotal" name="SubTotal" placeholder="SubTotal" class="form-control" />

                                </div>
                            </div>
                            <div class="modal-footer">

                                <input type="submit" value="Save Bill" class="btn btn-danger" />

                                @*<button id="saveOrder" type="submit" class="btn btn-danger">Save Order</button>*@

                            </div>
                        </div>
                        </form>


                        @*Order Details*@

                        <h5 style="margin-top:10px;color:#ff6347">Bill Pencils</h5>

                        <hr />

                        <div class="form-horizontal">

                            <input type="hidden" id="id" />

                            <div class="form-group">

                                <label class="control-label col-md-2">

                                    Description

                                </label>

                                <div class="col-md-4">

                                    <input type="text" id="Description" name="Description" placeholder="Description" class="form-control" />

                                </div>

                                <label class="control-label col-md-2">

                                    Unit Price

                                </label>

                                <div class="col-md-4">

                                    <input type="number" id="UnitPrice" name="UnitPrice" placeholder="Unit Price" class="form-control" />

                                </div>

                            </div>



                            <div class="form-group">

                                <label class="control-label col-md-2">

                                    Amount

                                </label>

                                <div class="col-md-4">

                                    <input type="number" id="Amount" name="Amount" placeholder="Amount" class="form-control" />

                                </div>

                                <div class="col-md-2 col-lg-offset-4">

                                    <a id="addToList" class="btn btn-primary">Add To List</a>

                                </div>

                            </div>



                            <table id="detailsTable" class="table">

                                <thead>

                                    <tr>

                                        <th style="width:30%">Description</th>

                                        <th style="width:20%">Amount</th>

                                        <th style="width:15%">Unit Price</th>

                                        <th style="width:25%">Total Price</th>


                                    </tr>

                                </thead>

                                <tbody></tbody>

                            </table>

                        </div>

                </div>

                <div class="modal-footer">

                    <button type="reset" class="btn btn-default" data-dismiss="modal">Close</button>

                    @*<button id="saveOrder" type="submit" class="btn btn-danger">Save Order</button>*@

                </div>

            </form>

        </div>

    </div>

</div>

@section scripts{

    <script>

        //Show Modal.

        function addNewOrder() {

            $("#newOrderModal").modal();

        }

        //Add Multiple Order.

        $("#addToList").click(function (e) {

            e.preventDefault();



            if ($.trim($("#Description").val()) == "" || $.trim($("#UnitPrice").val()) == "" || $.trim($("#Amount").val()) == "") return;



            var Description = $("#Description").val(),

                UnitPrice = $("#UnitPrice").val(),

                Amount = $("#Amount").val(),

                detailsTableBody = $("#detailsTable tbody");



            var billItem = '<tr><td>' + Description + '</td><td>' + Amount + '</td><td>' + UnitPrice + '</td><td>' + (parseFloat(UnitPrice) * parseInt(Amount)) + '</td><td><a data-itemId="0" href="#" class="deleteItem">Remove</a></td></tr>';

            detailsTableBody.append(billItem);

            clearItem();

        });

        //After Add A New Order In The List, Clear Clean The Form For Add More Order.

        function clearItem() {

            $("#Description").val('');

            $("#UnitPrice").val('');

            $("#Amount").val('');

        }

        // After Add A New Order In The List, If You Want, You Can Remove It.

        $(document).on('click', 'a.deleteItem', function (e) {

            e.preventDefault();

            var $self = $(this);

            if ($(this).attr('data-itemId') == "0") {

                $(this).parents('tr').css("background-color", "#ff6347").fadeOut(800, function () {

                    $(this).remove();

                });

            }

        });

        //After Click Save Button Pass All Data View To Controller For Save Database

        function saveOrder(data) {

            return $.ajax({

                contentType: 'application/json; charset=utf-8',

                dataType: 'json',

                type: 'POST',

                url: "/Bills/SaveBill",

                data: data,

                success: function (result) {

                    alert(result);

                    location.reload();

                },

                error: function () {

                    alert("Error!")

                }

            });

        }

        //Collect Multiple Order List For Pass To Controller

        $("#saveOrder").click(function (e) {

            e.preventDefault();



            var orderArr = [];

            orderArr.length = 0;



            $.each($("#detailsTable tbody tr"), function () {

                orderArr.push({

                    Description: $(this).find('td:eq(0)').html(),

                    Amount: $(this).find('td:eq(1)').html(),

                    UnitPrice: $(this).find('td:eq(2)').html(),

                    TotalPrice: $(this).find('td:eq(3)').html()

                });

            });





            var data = JSON.stringify({

                BillSerialNo: $("#BillSerialNo").val(),

                BillRankNo: $("#BillRankNo").val(),
                Date: $("#Date").val(),
                TaxAuthority: $("#TaxAuthority").val(),
                ReceivedPerson: $("#ReceivedPerson").val(),
                DeliveryPerson: $("#DeliveryPerson").val(),
                Time: $("#Time").val(),
                SubTotal: $("#SubTotal").val(),





                order: orderArr

            });



            $.when(saveOrder(data)).then(function (response) {

                console.log(response);

            }).fail(function (err) {

                console.log(err);

            });

        });

    </script>

}
